<h2>Working on Networking</h2>

<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="./assets/images/alumni-meetup.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Epicodus Alumni Meetup</h5>
        <p class="card-text">I joined the meetup last night and went to my first event last night (the topic was AWS, something I DEFINITELY want to look into more).</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="./assets/images/wit-volunteer.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Portland WIT volunteering</h5>
        <p class="card-text">I'm hoping to begin volunteering with WIT, as this kind of involvement usually helps me feel more confident in networking.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="./assets/images/wit-mentor.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Portland WIT mentoring</h5>
        <p class="card-text">Speaking of WIT, I submitted an application for their mentoring program this morning, something I've been meaning to do for a while now.</p>
      </div>
    </div>
  </div>
</div>
