<h2>Debugging</h2>

<h4>Using Chrome developer tools effectively</h4>
<ul>
  <li><a href="https://raygun.com/javascript-debugging-tips">Some suggestions for working in the Chrome inspector</a></li>
  <li><a href="https://developers.google.com/web/tools/chrome-devtools/javascript/">Tutorial from Google on Chrome DevTools</a></li>
  <li><a href="https://www.creativebloq.com/javascript/javascript-debugging-beginners-3122820">Debugging for beginners</a>I want to try out #2 and #3 and see how they might help for those times when you just have too many errors to make sense of.</li>
  <li><a href="http://juliepagano.com/blog/2014/05/18/javascript-debugging-for-beginners/">Making better use of the developer panel tools</a></li>
</ul>

<hr>

<h4>Things I've learned about debugging</h4>
<p>If you're not sure if data is correctly moving from component to component, try console logging it in the destination. If it's there, the problem is within the component. If it's not, it's probably a problem with the transfer.</p>
<p>Use Lint to rule out dumb typos, etc.</p>
<p>Don't try to build all the functionality at once. Build one piece at a time, check to make sure it's working, then commit so you have a good record and can go backwards if necessary.</p>
<p>When using StackOverflow to research error messages, remember that the initial post usually has the "bad" code and it shouldn't be used as a model.</p>
<p>When working with routers and passing data, remember this lesson and Observables: https://www.learnhowtoprogram.com/javascript/angular-extended/optional-subscribing-to-observables</p>
<p>If you think the error is being caused by a process not completing, try moving code around to see if the source of the error changes.</p>
<p>Check to see if problems might be caused by data becoming available to the page/app too late in the process. Timing is  important.</p>
