<h2>Skill building</h2>

<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="./assets/images/freecodecamp.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Free Code Camp</h5>
        <p class="card-text">I started this a while back but haven't kept up with it because class has been so overwhelming. Started back on it today and am reminded how helpful these short and quick exercises can be.</p>
        <p><a href="https://www.freecodecamp.org/hollywilkalis">Profile</a></p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="./assets/images/javascript-30.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Javascript 30</h5>
        <p class="card-text">This is one Kyle recommended to me recently. My goal is to start working through at least one per day.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Helpful YouTubers</h5>
        <p class="card-text"><a href="https://www.youtube.com/channel/UCW5YeuERMmlnqo4oq8vwUpg">Net Ninja</a></p>
        <p class="card-text"><a href="https://www.youtube.com/channel/UCvjgXvBlbQiydffZU7m1_aw">Code Train</a></p>
        <p class="card-text">Just recently ran across <a href="https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA">Traversy Media</a> and I need to look at their videos in more detail.</p>
        <p class="card-text"><a href="https://www.youtube.com/user/realcsstricks">CSS Tricks</a>
      </div>
    </div>
  </div>
</div>
<div class="footer bg-light">
  <h4>Notes to self: things to look up</h4>
  <ul>
    <li>ES6 tutorials. Especially concepts like the "fat arrow" notation. I'm looking for some good resources on this. (Here's one to start with, maybe: <a href="https://www.youtube.com/watch?v=J85lRtO_yjY">https://www.youtube.com/watch?v=J85lRtO_yjY</a>)</li>
  </ul>
</div>
