<h2>Getting ready for a technical interview</h2>

<h4>Preparing mentally</h4>
<ul>
  <li><a href="https://skillcrush.com/2016/03/29/rock-your-next-whiteboard-test/">Everything You Need to Know to Rock Your Next Whiteboard Test</a>: Has a few good tips on staying calm during whiteboarding exercise. I know this is going to be hard for me.</li>
  <li><a href="https://www.codementor.io/learn-programming/junior-developer-interview-tips-to-success">Preparing for a junior developer interview</a>: What to expect from the whole process, things to consider for the technical portion, what companies are looking for during the coding review if they do one, and things to ask your interviewers - I really liked this. </li>
  <li><a href="https://rejected.us">There is life after rejection!</a></li>
</ul>
<hr>
<h4>Sample exercises</h4>
<ul>
  <li><a href="https://softwareengineering.stackexchange.com/questions/251101/i-know-javascript-really-well-but-i-bomb-coding-interviews">I Bomb Interviews</a>: Brings up different styles of coding interview questions (simple exercises, "trick" questions, application development).</li>
  <li><a href="https://medium.freecodecamp.org/3-questions-to-watch-out-for-in-a-javascript-interview-725012834ccb">3 JavaScript questions to watch out for during coding interviews</a>: question 1 offers some helpful tips on considering code efficiency during an exercise.</li>
  <li><a href="https://coderbyte.com/challenges">Free Coding Challenges</a>: Noting to explore later.</li>
  <li><a href="https://www.w3resource.com/javascript-exercises/">More exercises from W3Resource</a></li>
  <li><a href="https://www.toptal.com/javascript/interview-questions">Another resource on technical question resource to look at later</a> </li>
  <li><a href="https://www.codementor.io/nihantanu/21-essential-javascript-tech-interview-practice-questions-answers-du107p62z">Sample questions from CodeMentor</a></li>
</ul>
