<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" routerLink=""><h1>Javascript Week 4</h1></a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="interviews">Technical Interviews</a>
    <a class="nav-item nav-link" routerLink="troubleshooting">Troubleshooting</a>
    <a class="nav-item nav-link" routerLink="networking">Networking</a>
    <a class="nav-item nav-link" routerLink="general">General skills</a>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
