
<h3>Strengths</h3>
<ul>
  <li>I have a lot of experience managing content and organizing information on the front end of sites.</li>
  <li>Curiosity!</li>
  <li>Not afraid to "break" things or experiment in pursuit of knowledge/new skills.</li>
  <li>I have a good feel for user interface design and how users interact with content.</li>
  <li>I think that with some further work on my technical vocabulary (see below) I'd be great in some sort of business analyst role.</li>
  <li>I am a whiz with Bootstrap - its logic and structure makes sense to me.</li>
  <li>I secretly enjoy cleaning up messy sites. I've done a lot of that working on sites managed with a CMS (looking for redundancies, cleaning up outdated content, better structuring HTML within pages to suit the information flow, etc). I want to keep working on my Javascript/etc. skills so that I can apply these same skills to that end of project.</li>
</ul>


<h3>Weaknesses</h3>
<ul>
  <li>The prospect of technical interviews, particularly whiteboarding, is giving me a lot of anxiety. I don't think my ability to write code without resorting to notes and cheat sheets and heavily using Atom/Typescript/etc. prompts and assists is as strong as it needs to be. I get there, but I'm not fast and still relying a lot on trial and error (it's just one of the ways in which I learn).</li>
  <li>As an introvert, I need to work on my networking skills.</li>
  <li>My technical vocabulary. I find that though I often understand the concepts I have trouble expressing it using the correct terminology. I want to work on my technical fluency.</li>
  <li>Despite the above, I need more confidence in my own skills so I don't choke in an interview, even if I can't immediately find the right words.</li>
  <li>I have in the past found that I'm good at troubleshooting technical issues. I'm persistent and I think I have good instincts. When it comes to coding though, I need to work more on this by 1) consciously making a list of all the things I know that I can try and 2) continuing to improve my grasp of the language to make sure that I'm better able to understand error messages and technical documentation.</li>
</ul>
